* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: aqua;
}

p {
    background-color: aliceblue;
}

h2 {
    font-size: medium;
}

h1 {
    background-color: aquamarine;
}